#### create empty table in postgres with the same column titles as the csv (ran this in command line)

**CREATE TABLE** non_abs (Age NUMERIC, Num_children_born NUMERIC, Num_living_children NUMERIC, age_at_first_marriage NUMERIC, age_at_first_intercourse NUMERIC, freq_of_intercourse NUMERIC, Religion NUMERIC, children_in_residence NUMERIC, Knowledge_of_ovulatory_cycle NUMERIC, Knows_method_source NUMERIC, desire_for_more_kids NUMERIC, Woman_worked_after_marriage NUMERIC, Woman_currently_working NUMERIC, heard_FP_message_in_last_month NUMERIC, Has_transportation NUMERIC, media_exposure_level NUMERIC, Education_level NUMERIC, Literacy NUMERIC, Husbands_edu_level NUMERIC, Husbands_literacy NUMERIC, Knowledge_of_methods NUMERIC, Current_Method NUMERIC);

#### Read CSV into postgres (ran this in command line)

COPY non_abs FROM '/Users/nedasaleem/GitHub/Contraception_Methods/Final_model_df_renamed_cols.csv' DELIMITER ',' CSV HEADER;

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /opt/anaconda3/lib/python3.8/site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2 as pg

In [4]:
connection_args = {
    'host': 'localhost',
    'dbname': 'nedasaleem',
    'port': 5432
}

connection = pg.connect(**connection_args)

In [7]:
import pandas as pd
query = 'SELECT * FROM non_abs;'

df = pd.read_sql(query,connection)

In [8]:
df.head()

,age,num_children_born,num_living_children,age_at_first_marriage,age_at_first_intercourse,freq_of_intercourse,religion,children_in_residence,knowledge_of_ovulatory_cycle,knows_method_source,...,woman_currently_working,heard_fp_message_in_last_month,has_transportation,media_exposure_level,education_level,literacy,husbands_edu_level,husbands_literacy,knowledge_of_methods,current_method
0,41.0,6.0,5.0,15.0,15.0,4.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,0.0
1,27.0,5.0,5.0,18.0,18.0,4.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,3.0,2.0,2.0,2.0,2.0,1.0,0.0
2,41.0,9.0,9.0,18.0,18.0,3.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,0.0
3,29.0,3.0,2.0,17.0,17.0,5.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,0.0
4,25.0,2.0,2.0,19.0,19.0,2.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,3.0,3.0,2.0,2.0,2.0,1.0,0.0

In [39]:
query2 = '''
    SELECT age, AVG(num_living_children) 
    FROM non_abs
    WHERE age > 15 
    AND age < 30
    GROUP BY age
    ORDER BY age;'''

In [40]:
living_kids_count_df = pd.read_sql(query2,connection)

In [41]:
living_kids_count_df

     age       avg
0   16.0  0.555556
1   17.0  0.590164
2   18.0  0.537815
3   19.0  0.866142
4   20.0  1.110553
5   21.0  1.193878
6   22.0  1.292763
7   23.0  1.572881
8   24.0  1.658703
9   25.0  1.906760
10  26.0  2.019355
11  27.0  2.316076
12  28.0  2.429467
13  29.0  2.451724